{% extends "base.html" %}


{% block content %}
    <h1>welcome to home page</h1>
    {% for post in posts  %}
      
      <h2>{{post.title}}</h2>
      <small>published at: {{post.published_at | date:"M d, Y"}} by {{post.author|title}}</small>
      <p>{{post.content}}</p><br>
        
        {% if request.user.is_authenticated  and request.user == post.author %}
          <p>
          <a href="{% url 'blog:post-edit' post.id %}"> Edit </a> &nbsp;&nbsp;&nbsp;
           <a href="{% url 'blog:post-delete' post.id %}"> Delete </a>

          </p>
        {% endif %}
          
    {% endfor %}

{% endblock  %}
    